<%= content_for :header do %>
  <%= @host.name %>
<% end %>

<%= @buyer_name %>, <br>
Your payment to <%= @host.name %> has been received. <br>
<br>
<h3>
  Order Summary
</h3>
<%= render partial: "order_summary", locals: { order: @order } %>
<br>
You may view your order at any time <a href='<%= @order_url %>'>at this URL</a>.
<br>
<br>
If you have any questions about <%= @host.name %>,
feel free to email
<% if @host.contact_email.present? %>
  <a href='mailto:<%= @host.contact_email %>'>the organizers.</a>
<% else %>
  the organizers.
<% end %>
<br>
<br>
